<div class="row">
    <div class="col-sm-12 bracket-container">
        <div class="row">
             <div class="col-xs-3 bracket-1">
                 <button ng-repeat="item in players" ng-click="PlayersFactory.winner(item)" ng-model="item.wins">{{item.name}}</button>
             </div>

             <div class="col-xs-3 bracket-2">
                 <button ng-repeat="item in players | filter:oneOrMore | limitTo: 4" ng-click="PlayersFactory.winner(item)" ng-model="item.wins">{{item.name}}</button>
             </div>

             <div class="col-xs-3 bracket-3">
                 <button ng-repeat="item in players | filter:twoOrMore | limitTo: 2" ng-click="PlayersFactory.winner(item)" ng-model="item.wins">{{item.name}}</button>
             </div>

             <div class="col-xs-3 bracket-4">
                 <button ng-repeat="item in players | filter:threeOrMore | limitTo: 1" ng-model="item.wins">{{item.name}}</button>
             </div>
        </div>

    </div>

    <div class="col-xs-12 reset-bracket">
        <button class="btn btn-danger" ng-click="resetWins()">Reset Bracket</button>
    </div>
</div>
