<div class="row">
    <div class="col-sm-12 bracket-container">
        <div class="row">
             <div class="col-sm-3 bracket-1">
                 <button ng-repeat="item in players" ng-click="PlayersFactory.winner(item)" ng-model="item.wins">{{item.name}}</button>
             </div>

             <div class="col-sm-3 bracket-2">
                 <button ng-repeat="item in players | filter:{wins: 1}" ng-click="PlayersFactory.winner(item)" ng-model="item.wins">{{item.name}}</button>
             </div>

             <div class="col-sm-3 bracket-3">
                 <button ng-repeat="item in players | filter:{wins: 2}" ng-click="PlayersFactory.winner(item)" ng-model="item.wins">{{item.name}}</button>
             </div>

             <div class="col-sm-3">
                 <button ng-repeat="item in players | filter:{wins: 3}" ng-model="item.wins">{{item.name}}</button>
             </div>

        </div>

    </div>
</div>
