<div class="row">

    <div class="col-sm-12">
        <div class="page-header">
            <h1>BracketApp</h1>
        </div>

        <h3>Tournament Standing</h3>

        <ul>
            <li class="unbulleted" ng-repeat="item in players">
                {{ item.name }} <button ng-click="PlayersFactory.winner(item)" ng-model="item.wins" class="btn btn-success btn-xs">Win Count: {{ item.wins }}</button>
            </li>
        </ul>

        <h1>Round 2</h1>

        <ul>
            <li class="unbulleted" ng-repeat="item in players | filter:{wins: 1}">
                {{ item.name }} <button ng-click="PlayersFactory.winner(item)" ng-model="item.wins" class="btn btn-success btn-xs">Win Count: {{ item.wins }}</button>
            </li>
        </ul>

        <h1>Round 3</h1>

        <ul>
            <li class="unbulleted" ng-repeat="item in players | filter:{wins: 2}">
                {{ item.name }} <button ng-click="PlayersFactory.winner(item)" ng-model="item.wins" class="btn btn-success btn-xs">Win Count: {{ item.wins }}</button>
            </li>
        </ul>

        <h1>Round 4</h1>

        <ul>
            <li class="unbulleted" ng-repeat="item in players | filter:{wins: 3}">
                {{ item.name }} <button ng-click="PlayersFactory.winner(item)" ng-model="item.wins" class="btn btn-success btn-xs">Win Count: {{ item.wins }}</button>
            </li>
        </ul>
        <a ui-sref="home" class="btn btn-default">Home</a>

    </div>
</div>
